@model demoMVC.Models.Producto
@{
    ViewBag.Title = "Detalle";
}

<h2>Detalles de @Html.DisplayFor(o => o.Nombre)</h2>
<h3>@Model.Fabricante></h3>
<h3>@Html.DisplayFor(o=>o.PrecioVenta)</h3>

@Html.ActionLink("Volver", "Index")



